/* =========================================================== 
  Header
=========================================================== */

#header {
  
  background: white;
  border-bottom: 1px solid @global-border;
  z-index:99;
  
}
